*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --space: 10px;
}
/* header runner */

header{
    display: flex;
    align-items: center;
    background-color:#add8e6;
    min-height: 100px;
    padding: 0 150px;
}

.left{
    flex-grow: 1;
    border: 2px dashed black;
    background-color: #daa520;
    padding: var(--space) 0;
}

.center{
    flex-grow: 5;
    border: 2px dashed black;
    background-color: #daa520;
    padding: var(--space) 0;
}

.right{
    flex-grow: 1;
    border: 2px dashed black;
    background-color: #daa520;
    padding: var(--space) 0;
}

/* container and sections */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}

.section{
    border: 2px dashed black; 
}

/* prima sezione */
.container-one{
    background-color: #00008b;
}

.section-one{
    flex-basis: 80%;
    background-color: #ee82ee;
    height: 380px;
}

/* seconda sezione */

.container-two{
    background-color: white;
}

.section-two-left{
    flex-basis: 60%;
    background-color: #1e90ff;
    height: 380px;
}

.section-two-right{
    flex-basis: 40%;
    background-color: #ffc0cb;
    height: 380px;
}

/* terza sezione */

.container-three{
    background-color: #d3d3d3;
}

.section-three-left{
    flex-basis: 60%;
    background-color: #1e90ff;
    height: 380px;
}

.section-three-right{
    flex-basis: 40%;
    background-color: #ffc0cb;
    height: 380px;
}