*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --space: 10px;
}
/* header runner */

header{
    display: flex;
    align-items: center;
    background-color:#3161e0;
    min-height: 100px;
    padding: 0 150px;
}

.left{
    flex-grow: 1;
    padding: var(--space) 0;
}

.center{
    flex-grow: 5; 
}

ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

li a{
    padding: var(--space);
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
}

.right{
    flex-grow: 1;
    text-align: end;
}

button{
    padding: 7px 14px;
    border-radius: 40px;
    cursor: pointer;
}

/* container and sections */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}

.section{
    border: 2px dashed black; 
}

/* prima sezione */
.container-one{
    background-color: #00008b;
}

.section-one{
    flex-basis: 80%;
    background-color: #ee82ee;
    height: 380px;
}

/* seconda sezione */

.container-w{
    background-color: white;
}

.section-w-left{
    flex-basis: 60%;
    background-color: #1e90ff;
    height: 380px;
}

.section-w-right{
    flex-basis: 40%;
    background-color: #ffc0cb;
    height: 380px;
}

/* terza sezione */

.container-g{
    background-color: #d3d3d3;
}

.section-g-left{
    flex-basis: 60%;
    background-color: #1e90ff;
    height: 380px;
}

.section-g-right{
    flex-basis: 40%;
    background-color: #ffc0cb;
    height: 380px;
}

/* ultima sezione */

.section-last{
    flex-basis: 100%;
    background-color: #228b22;
    height: 600px;
}

/* footer */

.container-b{
    background-color: #23272a;
}

.section-b-left{
    flex-basis: 40%;
    background-color: #f08080;
    height: 380px;
}

.section-b-right{
    flex-basis: 60%;
    background-color: #20b2aa;
    height: 380px;
    display: flex;
}

.colum{
    flex-basis: 25%;
    border: 2px dashed black;
}

/* bottoni finali */

.bottom{
    margin-top: 2px;
    background-color: #23272a;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 150px;
}

.footer-left{
    background-color: #7fffd4;
    border: 0;
    display: flex;
    justify-content: space-between;
}

.left-logo{
    border: 2px dashed black;
    padding: var(--space) ;
    background-color: #ffb6c1;
}

.left-bottom{
    border: 2px dashed black;
    padding: var(--space) ;
    background-color: #ffb6c1;
}
